.content {
  position: relative;
  max-width: 650px;
  left: 400px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 8px;
}

.content h3 {
  text-shadow: 1px 1px 3px #ffffffb0, -1px -1px 3px #ffffff;
}

section {
  max-width: 100vw;
  min-height: 100vh;
  padding: 0 9%;
  padding-top: 7.5rem;
  padding-bottom: 2rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 3rem;
  border-radius: 5rem;
  background: var(--gradient);
  font-size: 1.7rem;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
}

.btn:hover {
  transform: scale(1.1);
}

.home {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  background: url(../images/home-bg-img.svg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-clip: content-box;
}

.image {
  position: relative;
  margin-left: 710px;
  margin-right: 100px;
}

.img-base {
  position: absolute;
  right: 230px;
  bottom: 80px;
}

.img-fusee {
  position: absolute;
  right: 230px;
  bottom: 140px;
  /* width: 40vw; */
  animation: float 3s linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-5.5rem);
  }
}
.home .content h3 {
  font-size: 4.5rem;
  color: #333;
  text-transform: uppercase;
}
.home .content h3 span {
  color: var(--pink);
  text-transform: uppercase;
}
.home .content p {
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
}
